<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PSPSL" value="C:\Users\Administrator\Desktop\PS\"/>
    <add key="OUTPUT" value="C:\Users\Administrator\Desktop\TMP\"/>
    <add key="CLEANVIDEOCHECK" value="\\192.168.20.155\Final\"/>
    <add key="SAVEDAYS" value="10"/>
  </appSettings>
</configuration>